<footer id="footer">
      <p><a href="/">Home</a> | <a href="/portofolio">Portofolio</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Me</a> | <a href="#top">Top</a></p>
        <ul class="faico clear">
            <li><a class="faicon-facebook" href="https://www.facebook.com/maradarin5"><i class="fab fa-facebook"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
         </ul>
    </footer>