<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Artist Peter Paul Rubens</title>
  <meta charset="UTF-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="digital, gallery, art, drawings" />
  <link rel="stylesheet" type="text/css" href="css/stylep1.css">
  <link rel="stylesheet" type="text/css" href="css/quiz.css">
  <link rel="stylesheet" type="text/css" href="css/stylelog.css">
  <link rel="shortcut icon" type="image/x-icon" href="IMAGINI/favicon.ico"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
  <%- include('../fragmente/headerap.ejs') %>
  <main>
    <div id="content_header"></div>

    <div id="site_content">
      <div id="banner"></div>
      <div id="jos">
      <aside>
      <div id="sidebar_container">

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
        <section id="banda">
            <h2>Latest Creations</h2>
            <p>New Comic Page</p>
            <time datetime="2020-03-02">March 2nd, 2020</time>
	<figure class="dropimg">
            <img src="IMAGINI/cutu.jpg" alt="Preview" title="Banda desenata" width="100" height="75">
		<figure class="img-content">
		<img src="IMAGINI/cutu.jpg" alt="Preview" title="Banda desenata" width="300" height="225">
		</figure>
	</figure>
          </section>
          </div>
          <div class="sidebar_base"></div>
        </div>

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="IMAGINI/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>

      </div>
      </aside>
      <div id="content">
        <!-- insert the page content here -->
              

<h1>Peter Paul Rubens</h1>

<article class="article">
    
    <h2 class="anchor">Introduction</h2>
    <p>Sir Peter Paul Rubens was a Flemish artist and diplomat. He is considered the most influential artist of the Flemish Baroque tradition. Rubens's highly charged compositions reference erudite aspects of classical and Christian history. His unique and immensely popular Baroque style emphasized movement, colour, and sensuality, which followed the immediate, dramatic artistic style promoted in the Counter-Reformation. Rubens was a painter producing altarpieces, portraits, landscapes, and history paintings of mythological and allegorical subjects. He was also a prolific designer of cartoons for the Flemish tapestry workshops and of frontispieces for the publishers in Antwerp.</p>
    
    <h2 class="anchor">Life</h2>
    <p>He was one of the last major artists to make consistent use of wooden panels as a support medium, even for very large works, but he used canvas as well, especially when the work needed to be sent a long distance. For altarpieces he sometimes painted on slate to reduce reflection problems.</p>
    
    <h3 class="anchor">Early life</h3>
    <p>Rubens was born in the city of Siegen to Jan Rubens and Maria Pypelincks. He was named in honour of Saint Peter and Saint Paul, because he was born on their solemnity. His father, a Calvinist, and mother fled Antwerp for Cologne in 1568, after increased religious turmoil and persecution of Protestants during the rule of the Habsburg Netherlands by the Duke of Alba. Rubens was baptised in Cologne at St Peter's Church. Religion figured prominently in much of his work, and Rubens later became one of the leading voices of the Catholic Counter-Reformation style of painting (he had said "My passion comes from the heavens, not from earthly musings")</p>
    
    <h3 class="anchor">Apprenticeship</h3>
    <p>In Antwerp, Rubens received a Renaissance humanist education, studying Latin and classical literature. By fourteen he began his artistic apprenticeship with Tobias Verhaeght. Subsequently, he studied under two of the city's leading painters of the time, the late Mannerist artists Adam van Noort and Otto van Veen. Much of his earliest training involved copying earlier artists' works, such as woodcuts by Hans Holbein the Younger and Marcantonio Raimondi's engravings after Raphael. Rubens completed his education in 1598, at which time he entered the Guild of St. Luke as an independent master.</p>
    
    <h2 class="anchor">Work</h2>
    <p>His nudes of various biblical and mythological women are especially well-known. Painted in the Baroque tradition of depicting women as soft-bodied, passive, and highly sexualized beings, his nudes emphasize the concepts of fertility, desire, physical beauty, temptation, and virtue. Skillfully rendered, these paintings of nude women are thought by feminists to have been created to sexually appeal to his largely male audience of patrons.</p>
    
    <h3 class="anchor">Workshop</h3>
    <p>Paintings from Rubens's workshop can be divided into three categories: those he painted by himself, those he painted in part (mainly hands and faces), and copies supervised from his drawings or oil sketches. He had, as was usual at the time, a large workshop with many apprentices and students. It has not always been possible to identify who were Rubens' pupils and assistants since as a court painter Rubens was not required to register his pupils with the Antwerp Guild of Saint Luke</p>
    
    <h2 class="anchor">Diplomatic missions</h2>
    <p>While Rubens's international reputation with collectors and nobility abroad continued to grow during this decade, he and his workshop also continued to paint monumental paintings for local patrons in Antwerp. The Assumption of the Virgin Mary for the Cathedral of Antwerp is one prominent example.</p>
    
    <h2 class="anchor">Artwork</h2>
    <img src="IMAGINI/diana.jpg" alt="Preview" title="Diana hunting" width="600" height="450">
    
</article>
<p> Test your knowledge with the quiz below! </p>
    </div>
  </div>
  </div>

<div id="quiz"></div>
    <script src="js/quiz.js"></script>
  </main>
    <%- include('../fragmente/footer.ejs') %>
</body>
</html>