<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Art Blog</title>
  <meta charset="UTF-8">
  <meta name = "author" content = "Mara Darin Agha">
  <meta name="description" content="Art blog with a personal collection of artwork" />
  <meta name="keywords" content="digital, gallery, art, drawings" />
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/stylelog.css">
  <link rel="shortcut icon" type="image/x-icon" href="IMAGINI/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/cuvinte.js"></script>
  <script src="js/ravase.js"></script>
</head>

<body>
  <%- include('../fragmente/headerindex.ejs') %>
  <main>
    <div id="content_header"></div>

    <div id="site_content">
      <div id="banner"></div>
      <div id="jos">
      <aside>
      <div id="sidebar_container">

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
        <section id="banda">
            <h2>Latest Creations</h2>
            <p>New Comic Page</p>
            <time datetime="2020-03-02">March 2nd, 2020</time>
	<figure class="dropimg">
            <img src="IMAGINI/cutu.jpg" alt="Preview" title="Banda desenata" width="100" height="75">
		<figure class="img-content">
		<img src="IMAGINI/cutu.jpg" alt="Preview" title="Banda desenata" width="300" height="225">
		</figure>
	</figure>
          </section>
          </div>
          <div class="sidebar_base"></div>
        </div>

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Word count</h3>
            <input type="button" name="Convert" value="Count Words" onClick="countWords();"> 
            <input name="wordcount" id="nr_cuv" type="text" value="" size="6">
          </div>
          <div class="sidebar_base"></div>
        </div>

        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Get your daily dose of motivation</h3>
            <div id="ravase"></div>
          </div>
          <div class="sidebar_base"></div>
        </div>

      </div> 
     </aside>

      <div id="content">
        <!-- insert the page content here -->
      <nav>
               <section>
	<h2>Welcome to creativity's safe haven</h2>
	<p> “Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.”</p>
	<p>― Leonardo da Vinci </p>
	<p> How can one describe art? A work of art can be a painting, a drawing, a piece of music, a piece of theatre. A piece of art is anything that is a source of inspiration to others, something that can be heard in the depths of their bodies, right in the core of their person, where it resonates its deepest meaning. What that meaning is, is up to you. Art has the ability to express a thousand words in a second, and a hundred different stories can be heard in each note of a song. The arts are the result of us using the gift of imagination and rewarding it to the world for others to enjoy, as well as ourselves. Art is wholly and completely selfless, and because of this, it is utterly and shamelessly beautiful. <p>
	<p> This blog serves to pull you out of the ordinary and walk you through each type of beauty: elegance, madness, balance, opulence, simplicity. <p>
	<p> Enjoy your stay! </p>
              </section>
        
<section id="services">
      <h2 class="heading font-x3">Applications I use</h2>
      <p>Because the way of projecting art is as important as art itself.</p>
      <ul  id="grid_container">
        <li>
          <article><i class="fas fa-door-open fa-4x"></i>
            <h2 class="heading">Photoshop</h2>
            <p>Self-taught user of the most advanced tool that has been designed especially for delivering content in a visually pleasing and imposing manner.</p>
          </article>
        </li>
        <li>
          <article><i class="fas fa-dove fa-4x"></i>
            <h2 class="heading">Picsart</h2>
            <p>The finger is as efficient at drawing and editing as its lord, the hand. I do pride myself in being able to draw using a touchpad only.</p>
          </article>
        </li>
        <li>
          <article><i class="fas fa-marker fa-4x"></i>
            <h2 class="heading">Pen & Paper</h2>
            <p>Quite traditional, I know. And yet, why 2D Disney movies are the most magical and can no longer be reproduced with the same amount of emotion?</p>
          </article>
        </li>
        <li>
          <article><i class="fas fa-ribbon fa-4x"></i>
            <h2 class="heading">PIXLR</h2>
            <p>Easy application, basically a compressed version of Photoshop but it gets the job done effectively and without the risk of losing your projects.</p>
          </article>
        </li>
      </ul>
    </section>

	
        
      </nav>
    </div>
</div>
</div>
  </main>
    <%- include('../fragmente/footer.ejs') %>
</body>
</html>
